/*
	Striped 1.0 by HTML5 Up!
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	*
	{
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}

	body, input, textarea
	{
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 400;
		color: #565656;
	}

	body
	{
		background-color: #e8e8e8;
		background-image: url('images/bg2.png');
	}

	a
	{
		color: #c94663;
	}

	strong, b
	{
		font-weight: 700;
		color: #1b252a;
	}

	h2,h3,h4,h5,h6
	{
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 700;
		color: #1b252a;
	}

	h2 a, h4 a, h5 a, h6 a
	{
		text-decoration: none;
		color: inherit;
	}
	
	.byline
	{
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 300;
		display: block;
		margin-top: 1em;
		color: #999;
	}
	
	header
	{
		margin: 0 0 2em 0;
	}
	
	blockquote
	{
		border-left: solid 5px #ddd;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}
	
	em, i
	{
		font-style: italic;
	}
	
	hr
	{
		border: 0;
		border-top: solid 1px #ddd;
		padding: 1.5em 0 0 0;
		margin: 1.75em 0 0 0;
	}
	
	sub
	{
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}
	
	sup
	{
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}
	
	table
	{
		width: 100%;
	}
	
	table.style1
	{
	}
	
		table.style1 tbody tr:nth-child(2n+2)
		{
			background: #f4f4f4;
		}
		
		table.style1 td
		{
			padding: 0.5em 1em 0.5em 1em;
		}
		
		table.style1 th
		{
			text-align: left;
			font-weight: 700;
			padding: 0.75em 1em 0.75em 1em;
		}
	
		table.style1 thead
		{
			border-bottom: solid 1px #ddd;
		}
		
		table.style1 tfoot
		{
			border-top: solid 1px #ddd;
			background: #eee;
		}
		
		table.style1 tbody
		{
		}

	form
	{
	}
	
		form input,
		form select,
		form textarea
		{
			border-radius: 0.4em;
			-webkit-appearance: none;
			border: solid 1px #ddd;
			padding: 0.5em;
			width: 100%;
		}

		form input:focus,
		form textarea:focus
		{
			box-shadow: 0px 0px 2px 2px #c94663;
		}

		form ::-webkit-input-placeholder
		{
			color: #aaa;
		}

		form :-moz-placeholder
		{
			color: #aaa;
		}

		form ::-moz-placeholder
		{
			color: #aaa;
		}

		form :-ms-input-placeholder
		{
			color: #aaa;
		}
		
	br.clear
	{
		clear: both;
	}
	
	p, ul, ol, dl, table
	{
		margin-bottom: 1em;
	}
	
	section,
	article
	{
		margin-bottom: 3em;
	}
	
	section > :last-child,
	article > :last-child
	{
		margin-bottom: 0;
	}

	section > .inner > :last-child,
	article > .inner > :last-child
	{
		margin-bottom: 0;
	}

	section:last-child,
	article:last-child
	{
		margin-bottom: 0;
	}

	.image
	{
		display: inline-block;
	}
	
		.image img
		{
			display: block;
			width: 100%;
		}

	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}

		.image-centered img
		{
			margin: 0 auto;
			width: auto;
		}
		
	.button
	{
		background-color: #c94663;
		background-image: url('images/bg1.png');
		border-radius: 0.4em;
		text-align: center;
		box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.15);
		color: #fff;
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 700;
		text-decoration: none;
		-moz-transition: background-color .25s ease-in-out, color .25s ease-in-out;
		-webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out;
		-o-transition: background-color .25s ease-in-out, color .25s ease-in-out;
		-ms-transition: background-color .25s ease-in-out, color .25s ease-in-out;
		transition: background-color .25s ease-in-out, color .25s ease-in-out;
		text-shadow: -1px -1px 0px rgba(0,0,0,0.5);
	}

		span.button
		{
			opacity: 0.35;
			cursor: default;
		}

		a.button:hover,
		input.button:hover
		{
			background-color: #d95673;
		}
		
		a.button:active,
		input.button:active
		{
			background-color: #b93653;
		}
	
		.button-alt
		{
			background-color: #364050;
			background-image: url('images/bg1.png');
		}

			a.button-alt:hover,
			input.button-alt:hover
			{
				background-color: #465060;
			}
			
			a.button-alt:active,
			input.button-alt:active
			{
				background-color: #263040;
			}
	
		.button-small
		{
		}
		
		.button-big
		{
		}
		
		.button-huge
		{
		}

	ul.style1
	{
		list-style: disc;
		padding-left: 1em;
	}
	
		ul.style1 li
		{
			padding-left: 0.5em;
		}
	
	ol.style1
	{
		list-style: decimal;
		padding-left: 1.25em;
	}

		ol.style1 li
		{
			padding-left: 0.25em;
		}

	.link-icon24
	{
		position: relative;
		padding-left: 30px;
	}
	
		.link-icon24:before
		{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -12px;
			width: 24px;
			height: 24px;
			background-image: url('images/sprites.png');
		}
	
		.link-icon24-1:before		{ background-position: 0px 0px; }
		.link-icon24-2:before		{ background-position: -24px 0px; }
		.link-icon24-3:before		{ background-position: -48px 0px; }
		.link-icon24-4:before		{ background-position: -72px 0px; }
		.link-icon24-5:before		{ background-position: -96px 0px; }

	.pager
	{
	}
	
		.pager .pages
		{
			display: inline-block;
			font-family: 'Open Sans Condensed', sans-serif;
			font-weight: 700;
		}
		
			.pager .pages span
			{
				display: inline-block;
				width: 1.5em;
				text-align: center;
				margin: 0 0.4em 0 0;
			}
	
			.pager .pages a
			{
				cursor: pointer;
				display: inline-block;
				text-align: center;
				text-decoration: none;
				color: inherit;
				background-color: #e8e8e8;
				background-image: url('images/bg2.png');
				color: #565656;
				margin: 0 0.4em 0 0;
				border-radius: 0.4em;
				-moz-transition: background-color .25s ease-in-out;
				-webkit-transition: background-color .25s ease-in-out;
				-o-transition: background-color .25s ease-in-out;
				-ms-transition: background-color .25s ease-in-out;
				transition: background-color .25s ease-in-out;
				box-shadow: inset 0 0.075em 0.25em 0 rgba(0,0,0,0.1);
			}
		
			.pager .pages a:hover
			{
				background-color: #dadada;
			}

			.pager .pages a.active
			{
				background-color: #364050;
				background-image: url('images/bg1.png');
				color: #fff;
				box-shadow: none;
				text-shadow: -1px -1px 0px rgba(0,0,0,0.5);
			}

/*********************************************************************************/
/* Section/Article Types                                                         */
/*********************************************************************************/

	.is-calendar
	{
	}

		.is-calendar .inner
		{
			position: relative;
			background-color: #272E39;
			background-color: rgba(0,0,0,0.15);
			border-radius: 0.4em;
			padding: 0.75em 0.5em 0.75em 0.5em;
			box-shadow: 0 0 0 1px rgba(255,255,255,0.05), inset 0 0 0.25em 0 rgba(0,0,0,0.25);
		}
		
		.is-calendar caption
		{
			font-weight: 700;
			color: #fff;
			margin: 0 0 0.25em 0;
		}

		.is-calendar table
		{
			margin: 0 auto;
		}

		.is-calendar tr
		{
		}

		.is-calendar td,
		.is-calendar th
		{
			cursor: default;
			padding: 0.35em 0 0.35em 0;
			border-top: solid 1px rgba(0,0,0,0.25);
			box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.075);
		}

		.is-calendar th
		{
			font-weight: 700;
			color: #fff;
		}
		
		.is-calendar td a,
		.is-calendar td span
		{
			display: block;
			margin: 0 auto;
			width: 1.5em;
			height: 1.5em;
			text-align: center;
			line-height: 1.4em;
			border-radius: 0.4em;
			-moz-transition: background-color .25s ease-in-out;
			-webkit-transition: background-color .25s ease-in-out;
			-o-transition: background-color .25s ease-in-out;
			-ms-transition: background-color .25s ease-in-out;
			transition: background-color .25s ease-in-out;
			text-decoration: none;
		}

		.is-calendar td a
		{
			color: #fff;
			font-weight: 700;
		}

		.is-calendar td a:hover
		{
			background-color: rgba(200,225,255,0.1);
			color: #fff;
		}
		
		.is-calendar td.today a
		{
			background-color: #c94663;
			background-image: url('images/bg1.png');
			box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.15), 0 0.025em 0.15em 0em rgba(0,0,0,0.25);
			color: #fff !important;
		}
		
	.is-post
	{
		position: relative;
	}
	
		.is-post .info
		{
		}
		
			.is-post .info .stats
			{
				margin: 0;
			}
			
			.is-post .info .stats a
			{
				font-size: 0.8em;
				text-decoration: none;
				color: #1b252a;
				font-weight: 700;
			}
	
	.is-recent-posts,
	.is-recent-comments
	{
	}

		.is-recent-posts li,
		.is-recent-comments li
		{
			border-top: solid 1px rgba(0,0,0,0.25);
			box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.075);
			padding: 0.5em 0 0.5em 0;
		}

		.is-recent-posts li:first-child,
		.is-recent-comments li:first-child
		{
			border-top: 0;
			box-shadow: none;
			padding-top: 0;
		}

		.is-recent-posts li:last-child,
		.is-recent-comments li:last-child
		{
			padding-bottom: 0;
		}

	.is-search
	{
	}

		.is-search form
		{
			position: relative;
		}
	
		.is-search input
		{
			position: relative;
			padding-right: 34px;
		}
		
			.is-search form:after
			{
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				right: 4px;
				margin-top: -12px;
				width: 24px;
				height: 24px;
				background-image: url('images/sprites.png');
				background-position: -96px 0px;
			}

	.is-text-style1
	{
	}

		.is-text-style1 .inner
		{
			position: relative;
			background-color: #272E39;
			background-color: rgba(0,0,0,0.15);
			border-radius: 0.4em;
			padding: 1.25em;
			box-shadow: 0 0 0 1px rgba(255,255,255,0.05), inset 0 0 0.25em 0 rgba(0,0,0,0.25);
		}	

/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/

	#wrapper
	{
		position: relative;
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
		background-color: #364050;
		background-image: url('images/bg1.png');
		color: #929da4;
		text-shadow: -1px -1px 0px rgba(0,0,0,0.5);
	}

		#sidebar form input,
		#sidebar form select,
		#sidebar form textarea
		{
			border: 0;
		}

		#sidebar section,
		#sidebar nav
		{
			position: relative;
		}

			#sidebar section:before,
			#sidebar nav:before
			{
				content: '';
				border-top: solid 1px;
				border-bottom: solid 1px;
				border-color: #171E29;
				border-color: rgba(0,0,0,0.25);
				box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.075), 0px 1px 0px 0px rgba(255,255,255,0.075);
				display: block;
			}
	
		#sidebar strong, #sidebar b
		{
			color: #fff;
		}
	
		#sidebar a
		{
			color: #d4dde0;
		}
		
		#sidebar h2,
		#sidebar h3,
		#sidebar h4,
		#sidebar h5,
		#sidebar h6
		{
			color: #fff;
		}
		
/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/
		
	#content
	{
		position: relative;
		background-color: #fff;
	}
	
		#content:after
		{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-image: url('images/bg2.png');
			opacity: 0.5;
		}
	
	#content-inner
	{
		position: relative;
		z-index: 1;
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
	}

		#copyright p
		{
			opacity: 0.75;
		}

		#copyright a
		{
			color: inherit !important;
		}

		#copyright:before
		{
			content: '';
			border-top: solid 1px;
			border-bottom: solid 1px;
			border-color: #171E29;
			border-color: rgba(0,0,0,0.25);
			box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.075), 0px 1px 0px 0px rgba(255,255,255,0.075);
			display: block;
		}
pre {
	-webkit-box-shadow: rgba(0, 0, 0, 0.0585938) 0px 0px 10px 0px;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: 
	rgb(0, 43, 54);
	background-image: url(http://octopress.org/images/noise.png?1346949399);
	background-origin: padding-box;
	border-bottom-color: 
	rgb(5, 35, 43);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: 
	rgb(5, 35, 43);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: 
	rgb(5, 35, 43);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: 
	rgb(5, 35, 43);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-style: solid;
	border-top-width: 1px;
	box-shadow: rgba(0, 0, 0, 0.0585938) 0px 0px 10px 0px;
	color: 
	rgb(147, 161, 161);
	display: block;
	font-family: Menlo, Monaco, 'Andale Mono', 'lucida console', 'Courier New', monospace;
	font-size: 13px;
	height: 54px;
	line-height: 18px;
	margin-bottom: 27px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	overflow-x: auto;
	overflow-y: auto;
	padding-bottom: 10px;
	padding-left: 13px;
	padding-right: 13px;
	padding-top: 10px;
	vertical-align: baseline;
	white-space: pre;
	width: 862px;
}