{% for page in pages %}
<article class="is-post is-post-excerpt">
    <header>
        <!--
            Note: Titles and bylines will wrap automatically when necessary, so don't worry
            if they get too long. You can also remove the "byline" span entirely if you don't
            need a byline.
        -->
        <h2><a href="{{ url_for("page", path=page.path) }}">{{ page.title }}</a></h2>
    </header>
    {% if page.meta.tags|length %}
    <div class="info">
        <!--
            Note: The date should be formatted exactly as it's shown below. In particular, the
            "least significant" characters of the month should be encapsulated in a <span>
            element to denote what gets dropped in 1200px mode (eg. the "uary" in "January").
            Oh, and if you don't need a date for a particular page or post you can simply delete
            the entire "date" element.
            
        -->
        <span class="date"><span class="month">{{ page.pdate.month_abbr }}<span>{{ page.pdate.month_end }}</span></span> <span class="day">{{ page.pdate.day }}</span><span class="year">, {{ page.pdate.year }}</span></span>
        <!--
            Note: You can change the number of list items in "stats" to whatever you want.
        -->
        {% for page_tag in page.meta.tags %}
        <ul class="stats">
            <li><a href="{{ url_for("tag", tag=page_tag) }}">{{ page_tag }}</a></li>
        </ul>
        {% endfor %}
    </div>
    {% endif %}
    <p>
        {% if page.preview %}
            {{ page.preview|safe }}
            <p><a href="{{ url_for("page", path=page.path) }}">Читать дальше</a></p>
        {% else %}
            {{ page.html|safe }}
        {% endif %}
    </p>
</article>
{% endfor %}