<!doctype html>
<html>
	<head>
		<title>garacio.ru</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700|Open+Sans+Condensed:300,700" rel="stylesheet" />
		<script src="/static/js/jquery-1.9.1.js"></script>
		<script src="/static/css/5grid/init.js?use=mobile,desktop,1200px,1000px&amp;mobileUI=1&amp;mobileUI.theme=none"></script>
		<noscript>
			<link rel="stylesheet" href="/static/css/5grid/core.css" />
			<link rel="stylesheet" href="/static/css/5grid/core-desktop.css" />
			<link rel="stylesheet" href="/static/css/5grid/core-1200px.css" />
			<link rel="stylesheet" href="/static/css/5grid/core-noscript.css" />
			<link rel="stylesheet" href="/static/css/style.css" />
			<link rel="stylesheet" href="/static/css/style-desktop.css" />
			<link rel="stylesheet" href="/static/css/style-1200px.css" />
		</noscript>
	</head>
    	<!--
		Note: Set the body element's class to "left-sidebar" to position the sidebar on the left.
		Set it to "right-sidebar" to, you guessed it, position it on the right.
	-->
	<body class="left-sidebar">

		<!-- Wrapper -->
		<div id="wrapper">
		<!-- Content -->
			<div id="content" class="mobileUI-main-content">
				<div id="content-inner">
				
{% block content %}
    <p>Default content to be displayed</p>
{% endblock content %}
				</div>
			</div>
			<!-- Sidebar -->
					<div id="sidebar">
					
						<!-- Logo -->
							<div id="logo">
								<h1 class="mobileUI-site-name">garacio.ru</h1>
							</div>
					
						<!-- Nav -->
							<nav id="nav" class="mobileUI-site-nav">
								<ul>
									<li class="current_page_item"><a href="/">Latest Posts</a></li>
									<!-- <li><a href="#">Archives</a></li> -->
								<!-- 	<li><a href="#">About Me</a></li>
									<li><a href="#">Contact Me</a></li> -->
								</ul>
						    </nav>
						    						<!-- Recent Comments -->
							<!-- <section class="is-recent-comments">
								<header>
									<h2>Tags</h2>
								</header>
								{% block tags %}
								{% endblock tags %}
							</section> -->
					
					</div>

		</div>
	</body>
</html>
